 <div class="navbar">
        <div class="dh">Dohad
            <i class="fa-light fa-wave-pulse"></i>
        </div>
        <div class="gz">The Research Association on Planeteral Activities</div>
    </div>
    <hr>